<!--Footer section  -->
<section class="footer">
    <div class="footer-content">
      <div class="footer-cta">
        <p class="pre-title center">
          Interested to work with me?
        </p>
        <a href="mailto:henilpatel0606@gmail.com" class="cta-title center">
          Get in Touch.
        </a>
      </div>
    </div>
    <div class="footer-bottombar">
      <p>
        © 2023 No rights reserved. Actually, share, steal (like a pro) and get inspiration as much as you want. We live in
        a free world. 🌎️ <br> Henil Kajavadra - UX Designer based in Birmingham, UK. Now seeking opportunity.
      </p>
      <img src="../../assets/logo.svg">
    </div>
  </section>