@import "../../styles.scss";

//Project section starts from here...

.projects {
    background: rgba(0, 0, 0, 0.5) url('../../assets/fog.png') no-repeat center center;
    /* Set the path to your background image */
    background-color: $dark-background;
    background-size: cover;
    mix-blend-mode: screen;
    /* Apply the mix-blend-mode property */
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
    // margin: 72px 0px 72px 0px;
    padding-top: 72px;
    padding-bottom: 72px;
    margin-top: -40px; //to remove space of nav
  
    @include mobile {
      flex-direction: column;
      gap: 40px;
    }
  
    @include tablet {
      flex-direction: column;
      gap: 48px;
    }
  
    .project-item {
      background: $gray-100;
      border-radius: 24px;
      overflow: hidden;
  
      // height: 75vh;
      @include mobile {
        border-radius: 16px;
      }
  
      @include tablet {
        border-radius: 20px;
      }
  
      .project-details {
        width: 70%;
  
        @include mobile {
          width: auto;
          padding: 0px 16px 16px 16px;
          align-items: flex-start;
          display: block;
        }
  
        @include tablet {
          width: auto;
          padding: 0px 24px 24px 24px;
          align-items: flex-start;
          display: block;
        }
  
        .chip {
          padding: 8px 16px;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          background: $gray-200;
  
          @include mobile {
            border-radius: 6px;
          }
        }
  
        .heading-h3 {
          @include heading-h3;
          color: $gray-900;
        }
  
        .project-description {
          @include paragraphs-medium-regular;
          color: $gray-800;
        }
      }
  
      .project-img {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  
    @include desktop {
  
      /* Create the zig-zag pattern */
      .project-item:nth-child(odd) .project-details {
        order: 2;
      }
    }
  }



  //recent-projects starts from here...
.recent-projects {
    background: rgba(0, 0, 0, 0.5) url('../../assets/fog.png') no-repeat center center;
    background-color: $dark-background;
    background-size: cover;
    mix-blend-mode: screen;
    height: 100vh;
    // padding: 20vh 0 0 10vw !important;
    padding-top: 20vh;
    padding-right: 0 !important;
  
    @include mobile {
      padding-top: 8vh;
      padding-right: 4vw !important;
      padding-bottom: 8vh;
      height: auto;
    }
  
    .recent-projects-header{
      @include heading-h3();
      color: $white;
    }
  
    .slider {
      display: flex;
      gap: 24px;
      scroll-snap-type: x mandatory;
      padding-right: 24px;
      // overflow-x: scroll;
      overflow-y: hidden; /* Hide vertical scroll */
      -webkit-overflow-scrolling: touch;
  
      @include mobile {
       flex-direction: column;
       padding-right: 0;
      }
  
      .project-card {
        width: 40%;
        height: 56vh;
        margin-right: 6px;
        border-radius: 16px;
        text-align: center;
        // scroll-snap-align: start;
        position: relative;
        transition: transform 0.2s;
        text-decoration: none;
        flex-shrink: 0;
        overflow: hidden;
  
        @include mobile {
          width: auto;
          height: 30vh;
          margin: 0 0 0 0 !important;
        }
      
        @include tablet {
          width: 80vw;
          height: 40vh;
        }
  
      }
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 16px;
      }
      .card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #212529BF;
        color: $white;
        padding: 8px;
        border-radius: 16px;
        // opacity: 0; /* Start with opacity set to 0 (completely transparent) */
        // transition: opacity 0.2s;
        transform: translateY(100%);
        transition: transform 0.2s;
        transition: transform 0.2s, height 0.2s;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    
        p {
          @include heading-h4();
        }
      }
    }
  
    .project-card:last-child {
      margin-right: 0;
      padding-right: 0;
    }
  
    // .project-card:last-child .card-overlay {
    //   width: 50%;
    // }
  
    .project-card:hover .card-overlay {
      transform: translateY(0);
      // opacity: 1; /* Change opacity to 1 (fully visible) on hover */
    }
  }
  
  //recent-projects ends from here...