<section>
<nav>
  <a href="https://www.npmjs.com/package/@fortawesome/angular-fontawesome">
    <img class="logo nav" src="../assets/logo.svg">
  </a>
  <ul class="nav">
    <a href="#">
    <li class="nav-item">
        <fa-icon [icon]="faFaceSmile" class="icon-color" [fixedWidth]="true"></fa-icon>
    </li>
  </a>
    <a href="#">
    <li class="nav-item">
        <fa-icon [icon]="faWindowRestore" class="icon-color" [fixedWidth]="true"></fa-icon>
      </li>
  </a>
    <a href="#">
    <li class="nav-item">
        <fa-icon [icon]="faFileLines" class="icon-color" [fixedWidth]="true"></fa-icon>
      </li>
  </a>
    <a href="#">
    <li class="nav-item">
        <fa-icon [icon]="faLinkedinIn" class="icon-color" [fixedWidth]="true"></fa-icon>
      </li>
  </a>
    <a href="#">
    <li class="nav-item">
        <fa-icon [icon]="faDribbble" class="icon-color" [fixedWidth]="true"></fa-icon>
      </li>
  </a>
    <a href="#">
    <li class="nav-item">
        <fa-icon [icon]="faPaperPlane" class="icon-color" [fixedWidth]="true"></fa-icon>
      </li>
  </a>
  </ul>

</nav>
</section>

<section class="hero">
  <div class="intro-main"> 
    
    <p class="intro">
      <label class="greeting">
        Greetings 👋 <br>
      </label>
      I'm versatile <span style="color: #63E6BE;">UX Designer</span>,<br> driving innovation through <br>user-centered design & delivering intuitive experiences for
      business growth.
    </p>
  </div>
  <div class="drawer center">
    <img src="../assets/Drawer.svg">
  </div>
</section>
