@import "../../src/styles.scss";

.menu{
    z-index: 1;
}

.logo{
    @include logo;
}

.nav-item{
    color: $white;
    display: flex;
}

.nav-title{
    // @include paragraphs-regular-medium;
    letter-spacing: 0.08ch;
    margin-left: 12px;
    display: none;
    transition: ease-in-out all .4s;
    // @include tablet{}
    // @include mobile{}
}

.nav-item:hover .nav-title{
    display: block;
    transition: ease-in-out all .4s;
    @include mobile{display: none;}
}



//Footer styles

.footer {
    background: rgba(0, 0, 0, 0.5) url('../assets/fog.png') no-repeat center center;
    /* Set the path to your background image */
    background-color: $dark-background;
    background-size: cover;
    mix-blend-mode: screen;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    .footer-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .pre-title {
      @include heading-h4();
      color: $white;
    }
  
    .cta-title {
      font-family: Gelasio;
      font-size: 150px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      color: $gray-600;
      text-decoration: none;
      position: relative;
  
      @include mobile {
        font-size: 48px;
      }
  
      @include tablet {
        font-size: 80px;
      }
    }
  
    a:hover {
      color: $gray-100;
    }
  
    /* Animation for the line-through effect */
    a::after {
      content: "";
      position: absolute;
      width: 0;
      height: 16px;
      background-color: $gray-700;
      bottom: 50%;
      left: 0;
      transition: width 0.3s ease-in-out;
    }
  
    a:hover::after {
      width: 100%;
    }
  
    /*end of Animation for the line-through effect */
  
    .footer-bottombar {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      padding: 16px 24px;
      border-radius: 24px;
      border: 2px solid rgba(255, 255, 255, 0.50);
      background: rgba(255, 255, 255, 0.10);
      backdrop-filter: blur(5.5px);
      margin-bottom: 20px;
      /* Add padding for spacing */
  
      p {
        @include paragraphs-regular-regular();
        color: $white;
        line-height: 200%;
  
        @include mobile {
          @include caption-small();
        }
      }
  
      img {
        height: 40px;
        width: auto;
      }
  
      @include tablet {
        margin-bottom: 80px;
      }
  
      @include mobile {
        margin-bottom: 22%;
        flex-direction: column;
      }
    }
  }