<header><section>
<nav>
  <a href=" ">
    <img class="logo nav" src="../assets/logo.svg">
  </a>
  <ul class="nav">
    <a href="#">
    <li class="nav-item">
        <fa-icon [icon]="faFaceSmile" class="icon-color" [fixedWidth]="true"></fa-icon>
    </li>
  </a>
    <a [routerLink]="['projects']" routerLinkActive="router-link-active" >
    <li class="nav-item">
        <fa-icon [icon]="faWindowRestore" class="icon-color" [fixedWidth]="true"></fa-icon>
      </li>
  </a>
    <a href="#">
    <li class="nav-item">
        <fa-icon [icon]="faFileLines" class="icon-color" [fixedWidth]="true"></fa-icon>
      </li>
  </a>
    <a href="#">
    <li class="nav-item">
        <fa-icon [icon]="faLinkedinIn" class="icon-color" [fixedWidth]="true"></fa-icon>
      </li>
  </a>
    <a href="#">
    <li class="nav-item">
        <fa-icon [icon]="faDribbble" class="icon-color" [fixedWidth]="true"></fa-icon>
      </li>
  </a>
    <a href="#">
    <li class="nav-item">
        <fa-icon [icon]="faPaperPlane" class="icon-color" [fixedWidth]="true"></fa-icon>
      </li>
  </a>
  </ul>

</nav>
</section>
</header>
<div>
  <router-outlet></router-outlet>
</div>
<footer></footer>