/* You can add global styles to this file, and also import other style files */

//Font Family
@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

*{
    font-family: 'Gelasio', serif;
    margin: 0 auto;
    padding: 0;
}

/* FFFFFF */
$white: #ffffff;

/* F8F9FA */
$gray-100: #f8f9fa;

/* E9ECEF */
$gray-200: #e9ecef;

/* DEE2E6 */
$gray-300: #dee2e6;

/* CED4DA */
$gray-400: #ced4da;

/* ADB5BD */
$gray-500: #adb5bd;

/* 6C757D */
$gray-600: #6c757d;

/* 495057 */
$gray-700: #495057;

/* 343A40 */
$gray-800: #343a40;

/* 212529 */
$gray-900: #212529;

/* FFD9BF */
$primary-200: #ffd9bf;

//Dark-background
$dark-background: $gray-900;

@mixin button() {
	font-size: 16px;
    font-family: 'Gelasio', serif;
	font-weight: 600;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}
@mixin heading-h1() {
	font-size: 56px;
	font-family: 'Gelasio', serif;
	font-weight: 700;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}
@mixin heading-h2() {
	font-size: 48px;
	font-family: 'Gelasio', serif;
	font-weight: 700;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}
@mixin heading-h3() {
	font-size: 40px;
	font-family: 'Gelasio', serif;
	font-weight: 700;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}
@mixin heading-h4() {
	font-size: 32px;
	font-family: 'Gelasio', serif;
	font-weight: 600;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}
@mixin heading-h5() {
	font-size: 24px;
	font-family: 'Gelasio', serif;
	font-weight: 500;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}
@mixin heading-h6() {
	font-size: 20px;
	font-family: 'Gelasio', serif;
	font-weight: 500;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}
@mixin caption-small() {
	font-size: 12px;
	font-family: 'Gelasio', serif;
	font-weight: 500;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}
@mixin caption-large() {
	font-size: 24px;
	font-family: 'Gelasio', serif;
	font-weight: 500;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: capitalize;
}
@mixin paragraphs-small() {
	font-size: 14px;
	font-family: 'Gelasio', serif;
	font-weight: 400;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}
@mixin paragraphs-large() {
	font-size: 24px;
	font-family: 'Gelasio', serif;
	font-weight: 400;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}
@mixin paragraphs-regular-regular() {
	font-size: 16px;
	font-family: 'Gelasio', serif;
	font-weight: 400;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}
@mixin paragraphs-regular-medium() {
	font-size: 16px;
	font-family: 'Gelasio', serif;
	font-weight: 500;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}
@mixin paragraphs-medium-regular() {
	font-size: 18px;
	font-family: 'Gelasio', serif;
	font-weight: 400;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}
@mixin paragraphs-medium-medium() {
	font-size: 18px;
	font-family: 'Gelasio', serif;
	font-weight: 500;
	font-style: normal;
	line-height: 150%;
	text-decoration: none;
	text-transform: none;
}

//align style

.center{
	text-align: center;
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

@mixin container() {
    max-width: 1440px; /* Set the maximum width of the container */
    padding: 0 10vw; /* Set the container margin using viewport units */
  }

section{
    @include container();
}

nav{
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent;
    

    a{
        color: $white;
    }

    ul{
        list-style: none;
        position: fixed;
        right: 40px;
    }
}

@mixin logo(){
    height: 48px;
    width: auto;
    position: fixed;
}

.nav-item{
    font-size: 16px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5.5px);
    border-radius: 16px;
    margin-bottom: 16px;
}