<section class="hero section">
    <div class="intro-main"> 
      
      <p class="intro">
        <label class="greeting">
          Greetings 👋 <br>
        </label>
        I'm versatile <span style="color: #63E6BE;">UX Designer</span>,<br> driving innovation through <br>user-centered design & delivering accessible human experience.
        <!-- I'm versatile <span style="color: #63E6BE;">UX Designer</span>,<br> driving innovation through <br>user-centered design & delivering intuitive experiences for
        business growth. -->
      </p>
    </div>
    <div class="drawer center app">
      <a>
        <img src="../assets/Drawer.svg" alt="henil.design slider">
      </a>
    </div>
  </section>

  <section class="projects section">
    <div class="project-item">
      <div class="row">
        <div class="col project-details">
          <label class="chip">💊 Healthtech</label>
          <h1 class="heading-h3 mt2 mb1">Mum.me</h1>
          <p class="project-description mb5">Mental well-being App designed to support & guide expecting mothers. It provides access to mental health resources, including relaxation exercises, mindfulness practices, online community, and coping strategies.</p>
          <a href="https://henilkajavadra.medium.com/mum-me-mental-well-being-app-for-pregnant-women-dd746beafca6" target="_blank">
            <button class="btn-primary">
              Read More 
              <fa-icon [icon]="faArrowRight" class="icon-color ml1" [fixedWidth]="true"></fa-icon>
            </button>
          </a>  
        </div>
        <div class="col">
          <img class="project-img" src="../../assets/project/mum.me.png">
        </div>
      </div>
    </div>
    <div class="project-item">
      <div class="row">
        <div class="col project-details">
          <label class="chip">🚗 Automotive</label>
          <h1 class="heading-h3 mt2 mb1">PaintScope XR</h1>
          <p class="project-description mb5">Mixed-Reality App for Paint Quality Testing in Car Manufacturing using Hololens.</p>
          <a href="#" target="_blank">
            <button class="btn-primary">
              Coming soon...
              <fa-icon [icon]="faArrowRight" class="icon-color ml1" [fixedWidth]="true"></fa-icon>
            </button>
          </a>          
        </div>
        <div class="col">
          <img class="project-img" src="../../assets/project/paintscope.png">
        </div>
      </div>
    </div>

    <div class="project-item">
      <div class="row">
        <div class="col project-details">
          <label class="chip">🕺 Fitness</label>
          <h1 class="heading-h3 mt2 mb1">Cycle</h1>
          <p class="project-description mb5">A cycle is a fitness app that manages daily activity, organizes rides, and offers cycle purchase and renting facilities. </p>
          <a href="https://medium.muz.li/cycle-app-concept-ui-ux-case-study-3ebfaf4ffd91" target="_blank">
            <button class="btn-primary">
              Read More 
              <fa-icon [icon]="faArrowRight" class="icon-color ml1" [fixedWidth]="true"></fa-icon>
            </button>
          </a>  
        </div>
        <div class="col">
          <img class="project-img" src="../../assets/project/cycle.png">
        </div>
      </div>
    </div>
  </section>
  