<section class="hero">
    <div class="intro-main"> 
      
      <p class="intro">
        <label class="greeting">
          Greetings 👋 <br>
        </label>
        I'm versatile <span style="color: #63E6BE;">UX Designer</span>,<br> driving innovation through <br>user-centered design & delivering intuitive experiences for
        business growth.
      </p>
    </div>
    <div class="drawer center app">
      <img src="../assets/Drawer.svg" alt="henil.design slider">
    </div>
  </section>
  