@import "../../styles.scss";



.intro-main{
//    margin-top: auto; /* Move the .intro-main content to the center vertically */
   height: 96%;
   display: grid;
   align-items: center;
}

.greeting{
    @include heading-h5;
    color: $gray-300;
    margin-bottom: 24px;
    opacity: 0.7;
}

.intro{
    @include heading-h1;
    color: $white;
width: 1056px;
margin: 0;
}


.hero{
    background: rgba(0, 0, 0, 0.5) url('../../assets/fog.png') no-repeat center center; /* Set the path to your background image */
    background-color: $dark-background;
    mix-blend-mode: screen; /* Apply the mix-blend-mode property */
    height: 100vh; /* Set the initial height to 100% of viewport height */
    margin-top: -40px;
    justify-content: space-between;
    z-index: 2;
}

.drawer{
    mix-blend-mode: lighten;
    backdrop-filter: blur(2px);
    // z-index: 1;
    margin-top: auto; /* Move the .drawer to the bottom */
}

.app {
	width: 20%;
	cursor: pointer;
	animation: up 1.5s infinite alternate;
    -webkit-animation: up 1.5s infinite  alternate;
}

@keyframes up {
    0% { top: 0; opacity: 0.1; transform: translateY(0); }
	100% { top: 0; opacity: 1; transform: translateY(-10px);}
}


@-webkit-keyframes up {

    0% { top: 0; opacity: 0.1; transform: translateY(0); }
	100% { top: 0; opacity: 1; transform: translateY(-10px);}
}