<section class="hero section">
  <div class="intro-main">

    <p class="intro">
      <label class="greeting">
        Greetings 👋 <br>
      </label>
      I'm versatile <span style="color: #63E6BE;">UX Designer</span>,<br> driving innovation through <br>user-centered
      design & delivering accessible human experience.
      <!-- I'm versatile <span style="color: #63E6BE;">UX Designer</span>,<br> driving innovation through <br>user-centered design & delivering intuitive experiences for
        business growth. -->
    </p>
  </div>
  <div class="drawer center app">
    <a>
      <img src="../assets/Drawer.svg" alt="henil.design slider">
    </a>
  </div>
</section>

<section class="projects section">
  <h2 class="projects-header">
    Case Studies
  </h2>
  <div class="project-item">
    <div class="row">
      <div class="col project-details">
        <label class="chip">💊 Healthtech</label>
        <h1 class="heading-h3 mt2 mb1">Mum.me</h1>
        <p class="project-description mb5">Mental well-being App designed to support & guide expecting mothers. It
          provides access to mental health resources, including relaxation exercises, mindfulness practices, online
          community, and coping strategies.</p>
        <a href="https://henilkajavadra.medium.com/mum-me-mental-well-being-app-for-pregnant-women-dd746beafca6"
          target="_blank">
          <button class="btn-primary">
            Read More
            <fa-icon [icon]="faArrowRight" class="icon-color ml1" [fixedWidth]="true"></fa-icon>
          </button>
        </a>
      </div>
      <div class="col">
        <img class="project-img" src="../../assets/project/mum.me.png">
      </div>
    </div>
  </div>
  <div class="project-item">
    <div class="row">
      <div class="col project-details">
        <label class="chip">🚗 Automotive</label>
        <h1 class="heading-h3 mt2 mb1">PaintScope XR</h1>
        <p class="project-description mb5">Mixed-Reality App for Paint Quality Testing in Car Manufacturing using
          Hololens.</p>
        <a href="https://medium.com/@henilkajavadra/paintscope-xr-mixed-reality-app-5c4d28f106f6" target="_blank">
          <button class="btn-primary">
            Read Me
            <fa-icon [icon]="faArrowRight" class="icon-color ml1" [fixedWidth]="true"></fa-icon>
          </button>
        </a>
      </div>
      <div class="col">
        <img class="project-img" src="../../assets/project/paintscope.png">
      </div>
    </div>
  </div>

  <div class="project-item">
    <div class="row">
      <div class="col project-details">
        <label class="chip">🕺 Fitness</label>
        <h1 class="heading-h3 mt2 mb1">Cycle</h1>
        <p class="project-description mb5">A cycle is a fitness app that manages daily activity, organizes rides, and
          offers cycle purchase and renting facilities. </p>
        <a href="https://medium.muz.li/cycle-app-concept-ui-ux-case-study-3ebfaf4ffd91" target="_blank">
          <button class="btn-primary">
            Read More
            <fa-icon [icon]="faArrowRight" class="icon-color ml1" [fixedWidth]="true"></fa-icon>
          </button>
        </a>
      </div>
      <div class="col">
        <img class="project-img" src="../../assets/project/cycle.png">
      </div>
    </div>
  </div>
</section>

<!-- Recent projects -->
<section class="recent-projects">

    <h2 class="recent-projects-header mb4">
      Recent Projects
    </h2>
    <div class="slider">
      <a href="https://chargeboss.com.au/" class="project-card">
        <img src="..//../assets/recent-project/Chargeboss.png" alt="Chargeboss">
        <div class="card-overlay">
          <P>Visit Me</P>
        </div>
      </a>
      <a href="https://www.wires2visuals.com.au/" class="project-card">
        <img src="..//../assets/recent-project/W2V.png" alt="wires2visuals">
        <div class="card-overlay">
          <P>Visit Me</P>
        </div>
      </a>
      <a href="https://motiveit.com.au/" class="project-card">
        <img src="..//../assets/recent-project/MotiveIT.png" alt="MotiveIT">
        <div class="card-overlay">
          <P>Visit Me</P>
        </div>
      </a>
      <a href="https://jgrindustrialsupplies.com.au/" class="project-card slide">
        <img src="..//../assets/recent-project/JGR.png" alt="JGR">
        <div class="card-overlay">
          <P>Visit Me</P>
        </div>
      </a>
    </div> 
</section>

<!-- Review section -->
<section class="review section">
  <div class="review-content">
    <h1 class="review-header">
      Words from some smart folks
    </h1>
    <img class="quote" src="../../assets/quote.png">
    <div class="testimonial mt5">
      <div class="row-review">
        <div class="client-img">
          <img src="../../assets/Client/Victor.jpg">
        </div>
        <div class="client-review">
          <p class="paragraphs-large">
            Henil has worked with me on multiple personal projects with me;
            I was very happy with his work. He has completed both UX/wireframe work as well as UI/visual design work;
            both completed to my satisfaction. he wasn’t afraid to ask questions to ensure he understood the task. He
            took direction very well & was willing to learn.
          </p>
          <div class="mt3">
            <a class="client-name" href="https://www.linkedin.com/in/victorborg">
              Victor Borg
            </a>
            <p class="client-role">
              Design lead, Scalapay
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>